// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-size: 13px;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  background: #fff;
}
#main{
  width: 320px;
  margin:auto;
  text-align:center;
}
p{
  margin-bottom: 24px;
}
.section img{
  padding-bottom: 8px;
}
.section{
  width: 50%;
  float:left;
  margin-bottom: 15px;
}
.modal-body > div{
  text-align: center;
}

.modal-body img{
  display: block;
  margin: auto auto 30px auto;
}

